.taskForm{
    display: grid;
  grid-template-columns: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.taskContainer{
    display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}
.task{
width: 100%;
  max-width: 300px;
  padding: 10px;
  text-align: justify;
}
.filterBtn{
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}
h1{
  text-align: center;
}
button{
  margin: 5px;
}
input,textarea{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
button{
  padding: 5px;
  margin: 5px;
  background-color: rgb(237, 242, 247);
  border-radius: 5px;
}
fieldset{
  margin: 20px;
}
.taskContainer > div{
  border: 1px solid;
  border-radius: 10px;
  gap: 10px;
padding: 10px;
}