.add-recipe-form {
  display: grid;
  grid-template-columns: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.search-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 50px;
}

.all-recipe {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}
.recipe {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  text-align: justify;
}
