.image-corousel {
  max-width: 100%;
  position: relative;
  margin:auto;
  
}
.slide {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -20px;
  padding: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 40px;
  user-select: none;
  border-radius: 0 3px 3px 0;
}
.next{
    right: 0;
 border-radius: 3px 0 0 3px;
}
img{
    object-fit: cover; 
    height: 98vh;
    width: 112vh;
    justify-content: center;
    align-items: center;
}