.todo {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border: 1px solid black;
}

.completedTodo {
  text-decoration: line-through;
}
.incompleteTodo {
}
p,
span,
button {
  height: fit-content;
  width: auto;
  margin: 20px;
  padding: 10px;
}
.container {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
}
.addTodoContainer {
  display: block;
}
input[type="checkbox"] {
  transform: scale(1.5);
  height: fit-content;
  margin-top: 30px;
  margin-left: 20px;
}
button,
input[type="checkbox"] {
}
